@font-face {
    font-family: 'Sunday Sport Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sunday Sport Regular'), url('SundaySport-d9Rv7.woff') format('woff');
    }

    h1{
        font-family: 'Sunday Sport Regular';
        color: #0ccac4;
        font-weight: 400;
       
    }